Repository revangel/nostalgiabot2, pull requests merged in 2020-09, with the labels that each got.

#31 Add generate_data command
  nb2/__init__.py
  nb2/commands.py
Labels: infrastructure

#33 Add get person API endpoint
  docs/api.yaml
  nb2/api.py
  nb2/errors.py
  tests/test_person_api.py
Labels: API, tests

#37 Add tests for generate_data
  tests/test_commands.py
Labels: tests

#36 Fix in memory db and mixer setup
  config.py
  tests/conftest.py
  tests/test_commands.py
Labels: infrastructure

#34 Add Quote endpoint
  nb2/api.py
  nb2/models.py
  nb2/validators.py
  tests/test_person_api.py
Labels: API

#43 Use flask-restful
  nb2/api.py
  nb2/models.py
  requirements.txt
  tests/test_person_api.py
Labels: Technical, infrastructure

#44 Add quotes as an include filter to Person api
  docs/api.yaml
  nb2/api.py
  tests/test_person_api.py
Labels: API

#45 Add Precommit Hooks; Linting
  .flake8
  .github/workflows/python-app.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements/core
  requirements/dev
Labels: Technical, infrastructure

#58 Add get quote from person
  nb2/api.py
  nb2/service/quote_service.py
  tests/api/__init__.py
  tests/api/test_person_api.py
  tests/api/test_quote_api.py
  tests/service/test_quote_service.py
  tests/test_person_api.py
Labels: API

#60 Add isort
  .isort.cfg
  .pre-commit-config.yaml
  requirements/dev
Labels: Technical, infrastructure

#62 Update Quote api docs
  .DS_Store
  docs/api.yaml
  nb2/api.py
  tests/api/test_quote_api.py
Labels: API

#65 Implement endpoint to get all quotes from person
  nb2/api.py
  nb2/service/quote_service.py
  tests/api/test_quote_api.py
  tests/service/test_quote_service.py
Labels: API
